#workorder-map {
	height: 300px;
}

.soft-border {
	-moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, .1);
	-webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, .1);
	box-shadow: 1px 2px 3px rgba(0, 0, 0, .1);
}

.secondary-color {
	color: #e94057;
}

.gradient-bg {
	background: #8a2387;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #f27121, #e94057, #f27121);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #f27121, #e94057, #f27121);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-size: 200%;
	-webkit-animation: Flow 30s ease infinite;
	-moz-animation: Flow 30s ease infinite;
	animation: Flow 30s ease infinite;
	color: white;
}

.force-bold {
	font-weight: bold !important;
}

.numberCircle {
	background: #e3e3e3;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	color: #6e6e6e;
	display: inline-block;
	font-weight: bold;
	line-height: 30px;
	margin-right: 5px;
	text-align: center;
	width: 30px;
	font-size: 13px;
}

.uk-tab>.uk-active>a {
    border-width: 2px;
    border-color: #e94057; 
}
.file-upload-name {
    background: #585858;
    padding: 0.5rem;
    color: white;
  }
  
  .alert {
      border-left: 1px solid;
  }