#workorder-map {
	height: 300px;
}

.force-bold {
	font-weight: bold !important;
}

.numberCircle {
	background: #e3e3e3;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	color: #423e3e;
	display: inline-block;
	font-weight: bold;
	line-height: 30px;
	margin-right: 5px;
	text-align: center;
	width: 30px;
	font-size: 13px;
}

.uk-tab>.uk-active>a {
    border-width: 2px;
    border-color: #e94057; 
}
.file-upload-name {
    background: #585858;
    padding: 0.5rem;
    color: white;
  }
  
  .alert {
      border-left: 1px solid;
  }

  .disable-link {
    pointer-events: none;
}

.dropzone {
    border: 1px dashed #9e9e9e !important;
}